body {
  background-image: url("https://21mm.ru/media/userfiles/upload/image/396694365423173.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:
 white;
}


h1 {
  color:
 white;
  text-align: center;
}
#otrais {
  font-size: 12px;
}

.pasvitrots {
  text-decoration: underline;
}